{% extends 'base.html' %}

{% load static %}

{% block title %}<title>Not Find</title>{% endblock %}

{% block menu %}{% endblock %}

{% block content %}


    <section class="h-screen px-4 flex items-center">
        <div class="container mx-auto max-w-screen-sm text-center leading-10">
            <img class="w-2/4 mb-10 mx-auto" src="{% static 'img/404.png' %}" alt="">
            <p class="text-3xl font-YekanBakh-ExtraBlack mb-4">صفحه مورد نظر یافت نشد!!</p>
            <a class="bg-yellow-500 py-2 px-6 rounded-xl" href="/">برو به صفحه اصلی</a>
        </div>
    </section>

{% endblock %}

{% block footer %}{% endblock %}