{% extends 'base.html' %}

{% load static %}

{% block title %}<title>درباره ما</title>{% endblock %}

{% block content %}

<section class="my-14 px-4">
        <div class="container mx-auto max-w-screen-xl">
            <div class="text-center mb-8">
                <h2 class="font-YekanBakh-ExtraBlack text-3xl">درباره ما</h2>
              </div>
            <div class="grid grid-cols-12 gap-4 md:gap-8">
                <div class="col-span-12 md:col-span-3 flex flex-col justify-center">
                    <div class="bg-white border rounded-3xl p-4 flex items-center mb-4 flex-col text-center gap-4">
                        <div class="bg-yellow-500 p-2 rounded-xl">
                          <img src="{% static 'img/icons8-ps-5-50.png' %}" alt="">
                                                  
                        </div>
                        <div>
                          <h3 class="text-base font-YekanBakh-ExtraBold mb-2">1500 محصول</h3>
                          <p>انواع کنسول بازی و گیم</p>
                        </div>
                      </div>
                      <div class="bg-white border rounded-3xl p-4 flex items-center flex-col text-center gap-4">
                        <div class="bg-yellow-500 p-2 rounded-xl">
                            <img src="{% static 'img/icons8-game-50.png' %}" alt="">
                                                  
                        </div>
                        <div>
                          <h3 class="text-base font-YekanBakh-ExtraBold mb-2">10 سال فعالیت</h3>
                          <p>اولین مارکت فروش کنسول بازی در ایران</p>
                        </div>
                      </div>
                </div>
                <div class="col-span-12 md:col-span-6">
                    <img class="rounded-3xl" src="{% static 'img/about.jpg' %}" alt="">
                </div>
                <div class="col-span-12 md:col-span-3 flex flex-col justify-center">
                    <div class="bg-white border rounded-3xl p-4 flex items-center mb-4 flex-col text-center gap-4">
                        <div class="bg-yellow-500 p-2 rounded-xl">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-12 h-12 text-white">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M15.182 15.182a4.5 4.5 0 01-6.364 0M21 12a9 9 0 11-18 0 9 9 0 0118 0zM9.75 9.75c0 .414-.168.75-.375.75S9 10.164 9 9.75 9.168 9 9.375 9s.375.336.375.75zm-.375 0h.008v.015h-.008V9.75zm5.625 0c0 .414-.168.75-.375.75s-.375-.336-.375-.75.168-.75.375-.75.375.336.375.75zm-.375 0h.008v.015h-.008V9.75z" />
                              </svg>
                                                    
                        </div>
                        <div>
                          <h3 class="text-base font-YekanBakh-ExtraBold mb-2">رضایت کاربران</h3>
                          <p>بالای 1 میلیون رضایت کاربران</p>
                        </div>
                      </div>
                      <div class="bg-white border rounded-3xl p-4 flex items-center flex-col text-center gap-4">
                        <div class="bg-yellow-500 p-2 rounded-xl">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-12 h-12 text-white">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M16.5 6v.75m0 3v.75m0 3v.75m0 3V18m-9-5.25h5.25M7.5 15h3M3.375 5.25c-.621 0-1.125.504-1.125 1.125v3.026a2.999 2.999 0 010 5.198v3.026c0 .621.504 1.125 1.125 1.125h17.25c.621 0 1.125-.504 1.125-1.125v-3.026a2.999 2.999 0 010-5.198V6.375c0-.621-.504-1.125-1.125-1.125H3.375z" />
                              </svg>
                                                   
                        </div>
                        <div>
                          <h3 class="text-base font-YekanBakh-ExtraBold mb-2">ارزان تر از همه جا</h3>
                          <p>خرید 1000 محصول با کد تخفیف</p>
                        </div>
                      </div>
                </div>
            </div>
        </div>
</section>

<section class="my-14 px-4">
        <div class="container mx-auto max-w-screen-lg">
            <div class="text-center mb-8">
                <h2 class="font-YekanBakh-ExtraBlack text-3xl">تی ان تی چیکار میکنه؟</h2>
              </div>
              <div class="leading-8">
                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای زیادی در شصت و سه درصد گذشته حال و آینده، شناخت فراوان جامعه و متخصصان را می طلبد، تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی، و فرهنگ پیشرو در زبان فارسی ایجاد کرد، در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها، و شرایط سخت تایپ به پایان رسد و زمان مورد نیاز شامل حروفچینی دستاوردهای اصلی، و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.</p>
              </div>
        </div>

</section>

<section class="my-14 px-4 py-20 bg-stone-100">
        <div class="container mx-auto max-w-screen-2xl">
            <div class="text-center mb-8">
                <h2 class="font-YekanBakh-ExtraBlack text-3xl">گالری تصاویر</h2>
              </div>
            <div class="swiper about-slider">
                <div class="swiper-wrapper">
                 <div class="swiper-slide w-72 h-auto">
                    <img style="height: 100%;width: 100%;" src="{% static 'img/image1.jpg' %}" />
                    </div>
                  <div class="swiper-slide w-72 h-auto">
                    <img style="height: 100%;width: 100%;" src="{% static 'img/image2.jpg' %}" />
                  </div>
                  <div class="swiper-slide w-72 h-auto">
                    <img style="height: 100%;width: 100%;" src="{% static 'img/image3.jpg' %}" />
                  </div>
                  <div class="swiper-slide w-72 h-auto">
                    <img style="height: 100%;width: 100%;" src="{% static 'img/image3.jpg' %}" />
                  </div>
                  <div class="swiper-slide w-72 h-auto">
                    <img style="height: 100%;width: 100%;" src="{% static 'img/image3.jpg' %}" />
                  </div>
                  
                 
                </div>
                <div class="swiper-pagination"></div>
              </div>
        </div>
</section>

{% endblock %}