{% extends 'base.html' %}
{% load static %}

{% block title %}<title>{{ info.title }}</title>{% endblock %}

{% block content %}

<section class="mb-20 px-4">
        <div class="container mx-auto max-w-screen-xl">
          <div style="margin-top:17px;" class="bg-white p-6 rounded-3xl mb-4">
            <nav class="flex" aria-label="Breadcrumb">
              <ol class="inline-flex items-center space-x-1 md:space-x-2">
                  <li class="inline-flex items-center">
                      <a href="#" class="inline-flex items-center">
                      خانه
                      </a>
                  </li>
                  <li>
                      <div class="flex items-center">
                          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4">
                              <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5L8.25 12l7.5-7.5" />
                            </svg>
                            
                          <a href="#" class="mr-1 text-sm font-medium">جزئیات وبلاگ</a>
                      </div>
                  </li>
              </ol>
          </nav>  
            </div>
            <div class="grid grid-cols-12 gap-4">
                <div class="col-span-12 md:col-span-9 order-1">
                    <div class="bg-white p-4 rounded-3xl leading-8">
                        <div class="border-r-4 bg-slate-100 border-yellow-400 mb-4 rounded-2xl p-4">
                            <h1 class="mb-2 text-base font-YekanBakh-Bold">{{ info.title }}</h1>
                            <div class="flex items-center gap-4 text-xs">
                                <span class="flex items-center gap-1">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6h4.5m4.5 0a9 9 0 11-18 0 9 9 0 0118 0z" />
                                      </svg>
                                       {{ info.date }}                             
                                </span>
                                <span class="flex items-center gap-1">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 12.75V12A2.25 2.25 0 014.5 9.75h15A2.25 2.25 0 0121.75 12v.75m-8.69-6.44l-2.12-2.12a1.5 1.5 0 00-1.061-.44H4.5A2.25 2.25 0 002.25 6v12a2.25 2.25 0 002.25 2.25h15A2.25 2.25 0 0021.75 18V9a2.25 2.25 0 00-2.25-2.25h-5.379a1.5 1.5 0 01-1.06-.44z" />
                                      </svg>
                                      {{ info.category }}                               
                                </span>
                            </div>
                        </div>
                        <img class="rounded-2xl" src="{{ info.image.url }}" alt="">
                        <p class="mt-4">
                          {{ info.text|safe }}
                        </p>
                       
                        <div class="mt-4">
                            <h3 class="font-YekanBakh-Bold text-slate-800 text-base">نظرات</h3>
                            {% if request.user.is_authenticated %}
                            <p>شما با نام {{ request.user.first_name }} وارد شده اید!!</p>
                            {% else %}
                            <p>برای ثبت دیدگاه وارد حساب کاربری خود شوید</p>
                            {% endif %}
                            <form action="" method="post" class="comment_weblog">
                              {% csrf_token %}
                              <textarea id="comment_textarea" required name="comment" class="textarea textarea-bordered w-full h-36 rounded-3xl" placeholder="نظر خود را بنویسید..."></textarea>
                              <button type="submit" class="btn bg-stone-800 hover:bg-stone-900 text-white rounded-2xl">ارسال پیام</button>
                              <p id="success" style="padding: 10px;background-color:rgba(10, 201, 10, 0.76);margin: 10px 0;border-radius: 10px;color: white;display: none;">دیدگاه شما با موفقیت ثبت شد</p>
                              <p id="error" style="padding: 10px;background-color:rgba(233, 15, 15, 0.76);margin: 10px 0;border-radius: 10px;color: white;display: none;">برای ثبت دیدگاه ابتدا <a style="margin: 3px;color: black;" href="/login">وارد</a>شوید</p>
                            </form>
                            <div class="comments">
                              {% if comments %}
                              {% for x in comments %}
                              <div class="comment">
                                <div class="image_comment"><img src="{% static 'img/profile.png' %}" alt=""></div>
                                <div class="message_comment">
                                  <div class="hader_message">
                                    <p>{{ x.date }}</p> <p>{{ x.user.first_name }}</p>
                                  </div>
                                  <div class="text_message">
                                    <p>{{ x.comment }}</p>
                                  </div> 
                                </div>
                              </div>
                              {% endfor %}
                              {% else %}
                              <p>هیچ دیدگاهی برای این مقاله ثبت نشده است</p>
                              {% endif %}
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-span-12 md:col-span-3 order-2">
                  <div class="bg-white p-4 rounded-3xl mb-4 leading-8">
                      <div class="border-r-4 bg-slate-100 border-yellow-400 mb-4 rounded-2xl p-4">
                          <h3 class="font-YekanBakh-Bold text-slate-800 text-base">جدیدترین ها</h3>
                      </div>
                      <div>

                        {% for x in blogs %}
                          <div class="flex items-center my-4">
                              <div class="avatar">
                                  <div class="w-16 rounded-full">
                                    <img src="{{ x.image.url }}" />
                                  </div>
                                </div>
                                <div class="mr-2">
                                  <a href="{{ x.get_absolute_url }}"><h3 class="font-YekanBakh-Bold text-slate-800 text-sm">{{ x.title }}</h3></a>
                                  <p>{{ x.text|safe|truncatechars:30 }}...</p>    
                                </div>
                          </div>
                        {% endfor %}
                      </div>
                      
                  </div>
                  <div class="bg-white p-4 rounded-2xl mb-4 leading-8">
                      <div class="border-r-4 bg-slate-100 border-yellow-400 mb-4 rounded-3xl p-4">
                          <h3 class="font-YekanBakh-Bold text-slate-800 text-base">دسته بندی</h3>
                      </div>
                      <ul class="menu">
                        {% for c in categorys %}
                          <li><a href="{{ c.get_absolute_url }}">{{ c.name }}</a></li>
                        {% endfor %}
                        </ul>
                      
                  </div>
              </div>
            </div>
        </div>
</section>

{% endblock %}

{% block js %}
    
<script src="{% static 'js/swiper-bundle.min.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
<script src="{% static 'js/forms.js' %}"></script>

{% endblock %}