{% extends 'base.html' %}

{% load static %}

{% block meta %}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="robots" content="index, follow"/>
<meta name="description" content="{{ product.meta_seo }}">
<meta property="og:title" content="{{ product.title_seo }}" class="title_seo" />
<meta content="{{ product.keywords }}" name="keywords"/>
{% endblock %}

{% block title %}<title>{{ product.name }}</title>{% endblock %}

{% block content %}

  <p class="success-send"><span></span><img src="{% static 'img/icons8-done-30.png' %}" alt=""></p>
    <p class="error-send"><span></span><img src="{% static 'img/icons8-close-188.png' %}" alt=""></p>

    <section class="mt-4 px-4">
        <div class="container mx-auto max-w-screen-xl">
          <div class="bg-white p-6 rounded-3xl mb-4">
            <nav class="flex" aria-label="Breadcrumb">
              <ol class="inline-flex items-center space-x-1 md:space-x-2">
                  <li class="inline-flex items-center">
                      <a href="#" class="inline-flex items-center">
                      خانه
                      </a>
                  </li>
                  <li>
                      <div class="flex items-center">
                          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4">
                              <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5L8.25 12l7.5-7.5" />
                            </svg>
                            
                          <a href="#" class="mr-1 text-sm font-medium">جزئیات محصول</a>
                      </div>
                  </li>
              </ol>
          </nav>  
            </div>
          <div class=" bg-white p-4 rounded-3xl">
            <div class="grid grid-cols-12 gap-4">
              <div class="col-span-12 md:col-span-4">
                <div style="--swiper-navigation-color: #fff; --swiper-pagination-color: #fff" class="swiper border pro-main border-b rounded-3xl">
                  
                  <div class="swiper-wrapper">

                    <div class="swiper-slide">
                      <img style="object-fit: cover;height: 100%;" class="rounded-xl cursor-pointer" src="{{ product.image.url }}" />
                    </div>

                    {% for x in product.images.all %}

                    <div class="swiper-slide">
                      <img style="object-fit: cover;height: 100%;" class="rounded-xl cursor-pointer" src="{{ x.image.url }}" />
                    </div>
                    {% endfor %}
                    

                  </div>


                  <div class="swiper-button-next after:text-sm"></div>
                  <div class="swiper-button-prev after:text-sm"></div>
                </div>

                <div thumbsSlider="" class="swiper gall-pro mt-4">
                  <div class="swiper-wrapper">

                    <div class="swiper-slide">
                      <img style="object-fit: cover;height: 100%;" class="rounded-xl cursor-pointer" src="{{ product.image.url }}" />
                    </div>

                    {% for x in product.images.all %}

                    <div class="swiper-slide">
                      <img style="object-fit: cover;height: 100%;" class="rounded-xl cursor-pointer" src="{{ x.image.url }}" />
                    </div>
                    {% endfor %}
                    

                  </div>
                </div>

                
              </div>
              <div class="col-span-12 md:col-span-8">
                <div class= "p-4">
                  <div class="bg-stone-50 rounded-xl p-4 leading-8">
                    <h1 class="font-YekanBakh-ExtraBold text-base">{{ product.name }}</h1>
                    <p>دسته بندی: {{ product.category.name }}</p>
                  </div>
                  <div class="grid grid-cols-12 mt-4">
                    <div class="col-span-12 lg:col-span-8 p-4">
                      <ul class="leading-8 text-stone-500">

                        {% for x in product.attributes.all %}

                        <li>{{ x.attribute }}</li>
                        
                        {% endfor %}

                      </ul>
                      <div class="flex gap-4 text-base mt-4">
                        {% if product.off_price %}
                        <span class="line-through">{{ product.off_price }} تومان</span>
                        {% endif %}
                        <span class="text-yellow-500">{{ product.price }} تومان</span>
                      </div>
                      <button class="btn bg-stone-800 hover:bg-stone-900 text-white my-6">افزودن به سبد خرید</button>
                      <div>
                        <a class="border px-4 py-2 rounded-xl" href="comparison.html">افزودن به علاقه مندی</a>
                      </div>
                    </div>
                    <div class="hidden lg:block col-span-4">
                      <div class="flex items-center border rounded-lg my-2 p-2">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-yellow-500">
                          <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 8.25h19.5M2.25 9h19.5m-16.5 5.25h6m-6 2.25h3m-3.75 3h15a2.25 2.25 0 002.25-2.25V6.75A2.25 2.25 0 0019.5 4.5h-15a2.25 2.25 0 00-2.25 2.25v10.5A2.25 2.25 0 004.5 19.5z" />
                        </svg>
                        <span class="mr-2">بهترین قیمت</span>                        
                      </div>
                      <div class="flex items-center border rounded-lg my-2 p-2">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-yellow-500">
                          <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 5.25a3 3 0 013 3m3 0a6 6 0 01-7.029 5.912c-.563-.097-1.159.026-1.563.43L10.5 17.25H8.25v2.25H6v2.25H2.25v-2.818c0-.597.237-1.17.659-1.591l6.499-6.499c.404-.404.527-1 .43-1.563A6 6 0 1121.75 8.25z" />
                        </svg>
                        
                        <span class="mr-2">تضمین اصل بودن محصول</span>                        
                      </div>
                      <div class="flex items-center border rounded-lg my-2 p-2">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-yellow-500">
                          <path stroke-linecap="round" stroke-linejoin="round" d="M6 12L3.269 3.126A59.768 59.768 0 0121.485 12 59.77 59.77 0 013.27 20.876L5.999 12zm0 0h7.5" />
                        </svg>
                        
                        <span class="mr-2">ارسال سریع</span>                        
                      </div>
                      <div class="flex items-center border rounded-lg my-2 p-2">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-yellow-500">
                          <path stroke-linecap="round" stroke-linejoin="round" d="M10.34 15.84c-.688-.06-1.386-.09-2.09-.09H7.5a4.5 4.5 0 110-9h.75c.704 0 1.402-.03 2.09-.09m0 9.18c.253.962.584 1.892.985 2.783.247.55.06 1.21-.463 1.511l-.657.38c-.551.318-1.26.117-1.527-.461a20.845 20.845 0 01-1.44-4.282m3.102.069a18.03 18.03 0 01-.59-4.59c0-1.586.205-3.124.59-4.59m0 9.18a23.848 23.848 0 018.835 2.535M10.34 6.66a23.847 23.847 0 008.835-2.535m0 0A23.74 23.74 0 0018.795 3m.38 1.125a23.91 23.91 0 011.014 5.395m-1.014 8.855c-.118.38-.245.754-.38 1.125m.38-1.125a23.91 23.91 0 001.014-5.395m0-3.46c.495.413.811 1.035.811 1.73 0 .695-.316 1.317-.811 1.73m0-3.46a24.347 24.347 0 010 3.46" />
                        </svg>
                        
                        <span class="mr-2">مشاوره قبل از خرید</span>                        
                      </div>
                      <div class="flex items-center border rounded-lg my-2 p-2">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-yellow-500">
                          <path stroke-linecap="round" stroke-linejoin="round" d="M21 11.25v8.25a1.5 1.5 0 01-1.5 1.5H5.25a1.5 1.5 0 01-1.5-1.5v-8.25M12 4.875A2.625 2.625 0 109.375 7.5H12m0-2.625V7.5m0-2.625A2.625 2.625 0 1114.625 7.5H12m0 0V21m-8.625-9.75h18c.621 0 1.125-.504 1.125-1.125v-1.5c0-.621-.504-1.125-1.125-1.125h-18c-.621 0-1.125.504-1.125 1.125v1.5c0 .621.504 1.125 1.125 1.125z" />
                        </svg>
                        
                        <span class="mr-2">بسته بندی زیبا</span>                        
                      </div>
                      <div class="flex items-center border rounded-lg my-2 p-2">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-yellow-500">
                          <path stroke-linecap="round" stroke-linejoin="round" d="M15.182 15.182a4.5 4.5 0 01-6.364 0M21 12a9 9 0 11-18 0 9 9 0 0118 0zM9.75 9.75c0 .414-.168.75-.375.75S9 10.164 9 9.75 9.168 9 9.375 9s.375.336.375.75zm-.375 0h.008v.015h-.008V9.75zm5.625 0c0 .414-.168.75-.375.75s-.375-.336-.375-.75.168-.75.375-.75.375.336.375.75zm-.375 0h.008v.015h-.008V9.75z" />
                        </svg>
                        
                        <span class="mr-2">رضایت کاربران</span>                        
                      </div>
                      <div class="flex items-center border rounded-lg my-2 p-2">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-yellow-500">
                          <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5" />
                        </svg>
                        
                        <span class="mr-2">تایید فروشنده</span>                        
                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </section>

    <section class="my-4 px-4">
      <div class="container mx-auto max-w-screen-xl">
        <div class="bg-white rounded-3xl p-8 leading-8">
          <p class="text-3xl font-YekanBakh-ExtraBlack mb-4">توضیحات</p>
          <p>{{ product.content|safe }}</p>
        </div>
      </div>
    </section>

    <section class="my-4 mb-14 px-4">
      <div class="container mx-auto max-w-screen-xl">
        <div class="bg-white rounded-3xl p-8 leading-8">
          <p class="text-3xl font-YekanBakh-ExtraBlack mb-4">محصولات مشابه</p>
          <div class="swiper related">
            <div class="swiper-wrapper">
             

              {% for x in offer.product.all %}

                  <div class="swiper-slide">
                    <div class="bg-white rounded-3xl leading-10 p-4">
                      <div class="relative">
                        <a href="{{ x.get_absolute_url }}" class="flex flex-col items-center justify-center">
                          <img style="width: 100%;height: 270px;object-fit: cover;border-radius: 10px;" class="mb-4" src="{{ x.image.url }}" alt="">
                        </a>
                        <!-- <div class="bg-yellow-500 absolute top-2 right-2 rounded-full w-10 h-10">
                          <p class="flex items-center justify-center">{{ x.discount_percentage }}%</p>
                        </div> -->
                      </div>
                      <div class="text-center">
                        <a href="{{ x.get_absolute_url }}"><h3 class="font-YekanBakh-ExtraBold text-sm ml">{{ x.name }}</h3></a>
                        <div class="flex justify-center gap-4 text-base mt-4">
                          <span class="line-through">{{ x.off_price }} تومان</span>
                          <span class="text-yellow-500">{{ x.price }} تومان</span>
                        </div>  


                        <div class="flex justify-center gap-2 items-center mt-4 ">
                          <a style="cursor: pointer;" class="bg-yellow-500 p-2 text-white rounded-lg submit-order">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                              <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 10.5V6a3.75 3.75 0 10-7.5 0v4.5m11.356-1.993l1.263 12c.07.665-.45 1.243-1.119 1.243H4.25a1.125 1.125 0 01-1.12-1.243l1.264-12A1.125 1.125 0 015.513 7.5h12.974c.576 0 1.059.435 1.119 1.007zM8.625 10.5a.375.375 0 11-.75 0 .375.375 0 01.75 0zm7.5 0a.375.375 0 11-.75 0 .375.375 0 01.75 0z" />
                            </svg>                          
                          </a>
                          <a class="bg-yellow-500 p-2 text-white rounded-lg" href="{{ x.get_absolute_url }}">
                            <p style="display: flex;align-items: center;justify-content: center;"  class=" h-6">مشاهده محصول</p>                                
                          </a>

                          <a style="cursor: pointer;" class="bg-yellow-500  p-2 text-white rounded-lg submit-like">
                            <img class="w-6 h-6" src="{% static 'img/like.svg' %}" alt="">
                          </a>

                        </div>  


                      </div>

                       <!--! LIKE AND ORDER FORM -->

                       <form class="like-form" style="visibility: hidden;height: 0;"  action="" method="post">
                        {% csrf_token %}
                        <input name="product-id" type="text" value="{{ x.id }}">
                        <input class="product-type" name="request-type" type="text" value="">
                        <button type="submit"></button>
                      </form>

                      <!--! LIKE AND ORDER FORM -->

                    </div>

                    
                  </div>

                  {% endfor %}

            </div>
            <div class="swiper-pagination"></div>
          </div>

        </div>

      </div>

    </section>


{% endblock %}


{% block js %}
    
<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/swiper-bundle.min.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
<script src="{% static 'js/products.js' %}"></script>

<script>
  $(document).ready(function() {
    
      $('.submit-like').click(function() {
          
          // پیدا کردن نوع از طریق input مرتبط
          var type = $(this).closest('.bg-white').find('.product-type')
          type.val("like")
          
          $(this).closest('.bg-white').find('.like-form button').click(); 
      });

      $('.submit-order').click(function(){
          
          // پیدا کردن نوع از طریق input مرتبط
          var type = $(this).closest('.bg-white').find('.product-type')
          type.val("order")
          
          $(this).closest('.bg-white').find('.like-form button').click(); 
      });
  });
</script>

{% endblock %}