{% extends 'base.html' %}

{% load static %}

{% block title %}<title>صفحه اصلی</title>{% endblock %}

{% block content %}

    <p class="success-send"><span></span><img src="{% static 'img/icons8-done-30.png' %}" alt=""></p>
    <p class="error-send"><span></span><img src="{% static 'img/icons8-close-188.png' %}" alt=""></p>


    <section class="px-4">
        <div class="container mx-auto max-w-screen-xl">
            <div class="swiper main-slider">
                <div class="swiper-wrapper">

                    {% for x in slider %}

                    <div class="swiper-slide">
                      <img class="object-cover rounded-b-3xl w-full" src="{{ x.image.url }}" alt="{{ x.title }}">
                    </div>

                    {% endfor %}
                    
                </div>
                <div class="swiper-pagination"></div>
                
            </div>
        </div>
    </section>

    <section class="my-14 px-4">
      <div class="container mx-auto max-w-screen-xl">
        <div class="text-center mb-8">
          <h2 class="font-YekanBakh-ExtraBlack text-3xl">دسته بندی محصولات</h2>
        </div>
        <div class="swiper cat-slider">
          <div class="swiper-wrapper">

            {% for x in categorys %}

            <div class="swiper-slide">
              <div class="border border-slate-200 bg-white rounded-3xl leading-10">
                <a href="shop.html" class="flex flex-col items-center justify-center p-4">
                  <img style="width: 100px; height: 100px;" class=" mb-4 rounded-full" src="{{ x.image.url }}" alt="">
                  <h3 class="font-YekanBakh-ExtraBold text-base">{{ x.name }}</h3>  
                </a>
              </div>
            </div>

            {% endfor %}
            

          </div>
          <div class="swiper-pagination"></div>
          
      </div>
      </div>
    </section>

    <section class="my-14 px-4">
      <div class="container mx-auto max-w-screen-xl">
        <div class="bg-yellow-500 rounded-3xl pt-10 pb-4">
          <div class="text-center mb-8">
            <h2 class="font-YekanBakh-ExtraBlack text-3xl">پیشنهاد شگفت انگیز</h2>
          </div>
          <div class="grid grid-cols-12 gap-4 p-4">
            <div class="col-span-12 lg:col-span-9">
              <div class="swiper off-product">
                <div class="swiper-wrapper">
                  
                  {% for x in offer.product.all %}

                  <div class="swiper-slide">
                    <div class="bg-white rounded-3xl leading-10 p-4">
                      <div class="relative">
                        <a href="{{ x.get_absolute_url }}" class="flex flex-col items-center justify-center">
                          <img style="width: 100%;height: 270px;object-fit: cover;border-radius: 10px;" class="mb-4" src="{{ x.image.url }}" alt="">
                        </a>
                        <div class="bg-yellow-500 absolute top-2 right-2 rounded-full w-10 h-10">
                          <p class="flex items-center justify-center">{{ x.discount_percentage }}%</p>
                        </div>
                      </div>
                      <div class="text-center">
                        <a href="{{ x.get_absolute_url }}"><h3 class="font-YekanBakh-ExtraBold text-sm ml">{{ x.name }}</h3></a>
                        <div class="flex justify-center gap-4 text-base mt-4">
                          <span class="line-through">{{ x.off_price }} تومان</span>
                          <span class="text-yellow-500">{{ x.price }} تومان</span>
                        </div>  


                        <div class="flex justify-center gap-2 items-center mt-4 ">
                          <a style="cursor: pointer;" class="bg-yellow-500 p-2 text-white rounded-lg submit-order">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                              <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 10.5V6a3.75 3.75 0 10-7.5 0v4.5m11.356-1.993l1.263 12c.07.665-.45 1.243-1.119 1.243H4.25a1.125 1.125 0 01-1.12-1.243l1.264-12A1.125 1.125 0 015.513 7.5h12.974c.576 0 1.059.435 1.119 1.007zM8.625 10.5a.375.375 0 11-.75 0 .375.375 0 01.75 0zm7.5 0a.375.375 0 11-.75 0 .375.375 0 01.75 0z" />
                            </svg>                          
                          </a>
                          <a class="bg-yellow-500 p-2 text-white rounded-lg" href="{{ x.get_absolute_url }}">
                            <p style="display: flex;align-items: center;justify-content: center;"  class=" h-6">مشاهده محصول</p>                                
                          </a>

                          <a style="cursor: pointer;" class="bg-yellow-500  p-2 text-white rounded-lg submit-like">
                            <img class="w-6 h-6" src="{% static 'img/like.svg' %}" alt="">
                          </a>

                        </div>  


                      </div>

                       <!--! LIKE AND ORDER FORM -->

                       <form class="like-form" style="visibility: hidden;height: 0;"  action="" method="post">
                        {% csrf_token %}
                        <input name="product-id" type="text" value="{{ x.id }}">
                        <input class="product-type" name="request-type" type="text" value="">
                        <button type="submit"></button>
                      </form>

                      <!--! LIKE AND ORDER FORM -->

                    </div>

                    
                  </div>

                  {% endfor %}
                  

                </div>
                <div class="swiper-pagination"></div>
              </div>
            </div>
            <div class="hidden lg:block lg:col-span-3">
              <div class="bg-stone-800 rounded-3xl p-4">
                <div class="flex flex-col leading-8">
                  <p class="text-white text-center">با تخفیف شگفتانه محصول خود را خریداری کنید :)</p>
                  <div class="flex justify-center my-12">
                    <img class="w-48" src="{% static 'img/off.png' %}" alt="">
                  </div>

                  

                  <div class="grid grid-cols-4 gap-2 leading-4">
                    <div class="flex flex-col text-center text-white bg-stone-900 px-2 py-4 rounded-2xl">
                      <span class="countdown font-YekanBakh-SemiBold text-3xl">
                        <span id="counterElement" style="--value:60;"></span>
                      </span>
                      ثانیه
                    </div> 
                    <div class="flex flex-col text-center text-white bg-stone-900 px-2 py-4 rounded-2xl">
                      <span class="countdown font-YekanBakh-SemiBold text-3xl">
                        <span style="--value:10;"></span>
                      </span>
                      دقیقه
                    </div> 
                    <div class="flex flex-col text-center text-white bg-stone-900 px-2 py-4 rounded-2xl">
                      <span class="countdown font-YekanBakh-SemiBold text-3xl">
                        <span style="--value:24;"></span>
                      </span>
                      ساعت
                    </div> 
                    <div class="flex flex-col text-center text-white bg-stone-900 px-2 py-4 rounded-2xl">
                      <span class="countdown font-YekanBakh-SemiBold text-3xl">
                        <span style="--value:4;"></span>
                      </span>
                      روز
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="my-14 px-4">
      <div class="container mx-auto max-w-screen-xl">
        <div class="text-center mb-8">
          <h2 class="font-YekanBakh-ExtraBlack text-3xl">پرفروش ترین کالاها</h2>
        </div>
        <div class="swiper slider-product2">
          <div class="swiper-wrapper">


            {% for x in best_sellers|slice:":3" %}
            
            <div class="swiper-slide">
              <div class="bg-white rounded-3xl leading-10 relative p-4">
                <div class="flex items-center justify-center">
                  <div>
                    <a href="{{ x.get_absolute_url }}"> <img style="width: 90px ;height: 90px;margin: 20px;border-radius: 10px;" src="{{ x.image.url }}" alt=""></a>
                  </div>
                  <div>
                    <a href="{{ x.get_absolute_url }}"><h3 class="font-YekanBakh-ExtraBold text-base">{{ x.name }}</h3></a>
                    <div class="flex justify-center gap-4 text-base mt-4">
                      <span class="line-through">{{ x.off_price }} تومان</span>
                    <span class="text-yellow-500">{{ x.price }} تومان</span>
                    </div>
                  </div>
                </div>
                

              </div>
            </div>

            {% endfor %}
            

          </div>
          <div class="swiper-pagination"></div>
        </div>
      </div>
    </section>

    <section class="my-14 px-4">
      <div class="container mx-auto max-w-screen-xl">
        <img class="rounded-2xl" src="../assets/images/pic.jpg" alt="">
      </div>
    </section>

    <section class="my-14 px-4">
      <div class="container mx-auto max-w-screen-xl">
        <div class="text-center mb-8">
          <h2 class="font-YekanBakh-ExtraBlack text-3xl">جدیدترین محصولات</h2>
        </div>
        <div class="swiper slider-product1">
          <div class="swiper-wrapper">


            {% for x in new_products %}

                  <div class="swiper-slide">
                    <div class="bg-white rounded-3xl leading-10 p-4">
                      <div class="relative">
                        <a href="{{ x.get_absolute_url }}" class="flex flex-col items-center justify-center">
                          <img style="width: 100%;height: 270px;object-fit: cover;border-radius: 10px;" class="mb-4" src="{{ x.image.url }}" alt="">
                        </a>
                        <!-- <div class="bg-yellow-500 absolute top-2 right-2 rounded-full w-10 h-10">
                          <p class="flex items-center justify-center">{{ x.discount_percentage }}%</p>
                        </div> -->
                      </div>
                      <div class="text-center">
                        <a href="{{ x.get_absolute_url }}"><h3 class="font-YekanBakh-ExtraBold text-sm ml">{{ x.name }}</h3></a>
                        <div class="flex justify-center gap-4 text-base mt-4">
                          <span class="line-through">{{ x.off_price }} تومان</span>
                          <span class="text-yellow-500">{{ x.price }} تومان</span>
                        </div>  


                        <div class="flex justify-center gap-2 items-center mt-4 ">
                          <a style="cursor: pointer;" class="bg-yellow-500 p-2 text-white rounded-lg submit-order">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                              <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 10.5V6a3.75 3.75 0 10-7.5 0v4.5m11.356-1.993l1.263 12c.07.665-.45 1.243-1.119 1.243H4.25a1.125 1.125 0 01-1.12-1.243l1.264-12A1.125 1.125 0 015.513 7.5h12.974c.576 0 1.059.435 1.119 1.007zM8.625 10.5a.375.375 0 11-.75 0 .375.375 0 01.75 0zm7.5 0a.375.375 0 11-.75 0 .375.375 0 01.75 0z" />
                            </svg>                          
                          </a>
                          <a class="bg-yellow-500 p-2 text-white rounded-lg" href="{{ x.get_absolute_url }}">
                            <p style="display: flex;align-items: center;justify-content: center;"  class=" h-6">مشاهده محصول</p>                                
                          </a>

                          <a style="cursor: pointer;" class="bg-yellow-500  p-2 text-white rounded-lg submit-like">
                            <img class="w-6 h-6" src="{% static 'img/like.svg' %}" alt="">
                          </a>

                        </div>  


                      </div>

                       <!--! LIKE AND ORDER FORM -->

                       <form class="like-form" style="visibility: hidden;height: 0;"  action="" method="post">
                        {% csrf_token %}
                        <input name="product-id" type="text" value="{{ x.id }}">
                        <input class="product-type" name="request-type" type="text" value="">
                        <button type="submit"></button>
                      </form>

                      <!--! LIKE AND ORDER FORM -->

                    </div>

                    
                  </div>

                  {% endfor %}
            
          </div>
          <div class="swiper-pagination"></div>
        </div>
      </div>
    </section>

    <section class="my-14 px-4">
      <div class="container mx-auto max-w-screen-xl">
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
          <div>
            <img class="rounded-3xl" src="../assets/images/11.png" alt="">
          </div>
          <div>
            <img class="rounded-3xl" src="../assets/images/12.png" alt="">
          </div>
        </div>
      </div>
    </section>

    <section class="my-14 px-4">
      <div class="container mx-auto max-w-screen-xl">
        <div class="text-center mb-8">
          <h2 class="font-YekanBakh-ExtraBlack text-3xl">پیشنهاد های ما</h2>
        </div>
        <div class="swiper slider-product1">
          <div class="swiper-wrapper">


            {% for x in suggestions %}

                  <div class="swiper-slide">
                    <div class="bg-white rounded-3xl leading-10 p-4">
                      <div class="relative">
                        <a href="{{ x.get_absolute_url }}" class="flex flex-col items-center justify-center">
                          <img style="width: 100%;height: 270px;object-fit: cover;border-radius: 10px;" class="mb-4" src="{{ x.image.url }}" alt="">
                        </a>
                        <!-- <div class="bg-yellow-500 absolute top-2 right-2 rounded-full w-10 h-10">
                          <p class="flex items-center justify-center">{{ x.discount_percentage }}%</p>
                        </div> -->
                      </div>
                      <div class="text-center">
                        <a href="{{ x.get_absolute_url }}"><h3 class="font-YekanBakh-ExtraBold text-sm ml">{{ x.name }}</h3></a>
                        <div class="flex justify-center gap-4 text-base mt-4">
                          <span class="line-through">{{ x.off_price }} تومان</span>
                          <span class="text-yellow-500">{{ x.price }} تومان</span>
                        </div>  


                        <div class="flex justify-center gap-2 items-center mt-4 ">
                          <a style="cursor: pointer;" class="bg-yellow-500 p-2 text-white rounded-lg submit-order">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                              <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 10.5V6a3.75 3.75 0 10-7.5 0v4.5m11.356-1.993l1.263 12c.07.665-.45 1.243-1.119 1.243H4.25a1.125 1.125 0 01-1.12-1.243l1.264-12A1.125 1.125 0 015.513 7.5h12.974c.576 0 1.059.435 1.119 1.007zM8.625 10.5a.375.375 0 11-.75 0 .375.375 0 01.75 0zm7.5 0a.375.375 0 11-.75 0 .375.375 0 01.75 0z" />
                            </svg>                          
                          </a>
                          <a class="bg-yellow-500 p-2 text-white rounded-lg" href="{{ x.get_absolute_url }}">
                            <p style="display: flex;align-items: center;justify-content: center;"  class=" h-6">مشاهده محصول</p>                                
                          </a>

                          <a style="cursor: pointer;" class="bg-yellow-500  p-2 text-white rounded-lg submit-like">
                            <img class="w-6 h-6" src="{% static 'img/like.svg' %}" alt="">
                          </a>

                        </div>  


                      </div>

                       <!--! LIKE AND ORDER FORM -->

                       <form class="like-form" style="visibility: hidden;height: 0;"  action="" method="post">
                        {% csrf_token %}
                        <input name="product-id" type="text" value="{{ x.id }}">
                        <input class="product-type" name="request-type" type="text" value="">
                        <button type="submit"></button>
                      </form>

                      <!--! LIKE AND ORDER FORM -->

                    </div>

                    
                  </div>

                  {% endfor %}
           
          </div>
          <div class="swiper-pagination"></div>
        </div>
      </div>
    </section>

    <section class="my-14 px-4">
      <div class="container mx-auto max-w-screen-xl">
        <div class="text-center mb-8">
          <h2 class="font-YekanBakh-ExtraBlack text-3xl">خواندنی های جدید</h2>
        </div>
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4">
          
          {% for x in weblog %}
          <div class="bg-white p-4 rounded-3xl">
              <div class="relative">
                <a href="{{ x.get_absolute_url }}"><img style="height: 250px;object-fit: cover;width: 100%;" class="rounded-2xl" src="{{ x.image.url }}" alt=""></a>
                <div class="absolute top-4 left-4 bg-white border-t-4 border-yellow-400 p-2 px-3 rounded-xl">
                  <div class="flex flex-col">
                    <span class="font-YekanBakh-ExtraBold text-2xl">{{ x.date }}</span>
                  </div>
                </div>
              </div>
              <div class="flex justify-between items-center mt-4">
                <div>
                  <a href="{{ x.get_absolute_url }}"><h3 class="font-YekanBakh-ExtraBold text-base">{{ x.title }}</h3></a>
                </div>
                <div>
                  <a class="flex items-center" href="{{ x.get_absolute_url }}">
                    <span class="ml-2">بیشتر</span>
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 12h-15m0 0l6.75 6.75M4.5 12l6.75-6.75" />
                    </svg> 
                  </a>
                </div>
              </div>
          </div>
          {% endfor %}
          
        </div>
      </div>
    </section>

  {% endblock %}


  {% block js %}
    
<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/swiper-bundle.min.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
<script src="{% static 'js/products.js' %}"></script>

<script>
  $(document).ready(function() {
    
      $('.submit-like').click(function() {
          
          // پیدا کردن نوع از طریق input مرتبط
          var type = $(this).closest('.bg-white').find('.product-type')
          type.val("like")
          
          $(this).closest('.bg-white').find('.like-form button').click(); 
      });

      $('.submit-order').click(function(){
          
          // پیدا کردن نوع از طریق input مرتبط
          var type = $(this).closest('.bg-white').find('.product-type')
          type.val("order")
          
          $(this).closest('.bg-white').find('.like-form button').click(); 
      });
  });
</script>

{% endblock %}