{% extends 'base.html' %}
{% load static %}

{% block title %}<title>ثبت نام</title>{% endblock %}

{% block css %}
    
<link rel="stylesheet" href="{% static 'css/swiper-bundle.min.css' %}">
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<link rel="stylesheet" href="{% static 'css/login.css' %}">

{% endblock %}

{% block menu %}{% endblock %}

{% block content %}

{% if frm.errors %}
{% else %}
<div class="mask">
        <a class="card">
            <h2>ثبت نام به عنوان کاربر</h2>
            <img src="{% static 'img/user.png' %}" alt="">
        </a>
        <a class="card">
            <h2>ثبت نام به عنوان همکار</h2>
            <img src="{% static 'img/admin.png' %}" alt="">
        </a>

</div>
{% endif %}

<section class="h-screen px-4 flex items-center">
        <div class="container mx-auto max-w-screen-lg">
            <div class="bg-white rounded-2xl overflow-hidden">
                <div class="flex flex-col md:flex-row gap-8">
                    <div class="flex-1 p-8 md:p-4 lg:p-20 lg:pb-0">
                        <form action="" method="post">
                            {% csrf_token %}

                            <input style="visibility: hidden;height: 0;margin: 0;" name="user_type" id="type-input" type="text" class="hidden">

                            <h2 class="text-3xl font-YekanBakh-ExtraBlack my-4">ثبت نام</h2>


                            <label class="label">
                                <span class="label-text-alt">نام و نام خانوادگی:</span>
                              </label>
                            {{ frm.name }}


                            <label class="label">
                                <span class="label-text-alt">ایمیل:</span>
                              </label>
                            {{ frm.email }}


                            <label class="label">
                                <span class="label-text-alt">پسورد:</span>
                              </label>
                            {{ frm.password }}

                            <label class="label">
                                <span class="label-text-alt"> تکرار پسورد:</span>
                              </label>
                            {{ frm.re_password }}


                            <button class="btn bg-stone-800 hover:bg-stone-900 text-white w-full my-4">ثبت نام</button>
                        </form>
                        
                        <!--     ERRPRS        -->

                        <p style="margin: 15px;">{{ frm.email.errors }}</p>
                        <p style="margin:5px;">{{ frm.password.errors }}</p>
                        <p style="margin:5px;">{{ frm.re_password.errors }}</p>
                        <p style="margin:5px;">{{ frm.name.errors }}</p>

                        <!--     ERRPRS        -->

                        <p class="text-center my-4">قبلا ثبت نام کرده اید؟ <a href="/login">وارد شوید</a></p>
                    </div>
                    <div class="hidden md:block">
                        <img class="bg-cover" style="width: 300px;height:100%;object-fit: cover;" src="{% static 'img/signup.jpg' %}" alt="">
                    </div>
                </div>
            </div>
        </div>
</section>

{% endblock %}

{% block footer %}{% endblock %}

{% block js %}
    
<script src="{% static 'js/swiper-bundle.min.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
<script src="{% static 'js/jquery.js' %}"></script>

{% endblock %}

{% block script %}

<!-- * SELECT USER TYPE -->

<script>
    $(document).ready(function(){
        $(".mask a").click(function(){
            var type = $("#type-input")
            $(this).parent().fadeOut()
            if ($(this).children("h2").text() === "ثبت نام به عنوان همکار"){
                type.val('colleague')
            }else if($(this).children("h2").text() === "ثبت نام به عنوان کاربر"){
                type.val('user')
            }
        })
    })
</script>

<!-- * SELECT USER TYPE -->

{% endblock %}