{% load static %}

<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ثبت نام موفق</title>
    <link rel="stylesheet" href="{% static 'css/success_signup.css' %}">
</head>
<body>
    <div class="container">
        <img src="{% static 'img/success.png' %}" alt="">
        <h1>ثبت نام شما با موفقیت انجام شد پس از تایید توسط مدیران میتوانید وارد پنل اختصاصی خود شوید .</h1>
        <a href="/">بازگشت به صفحه اصلی</a>
    </div>
</body>
</html>